.filter {
    grid-area: filter;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #F7F7F7;
    height: 4rem;
    margin-top: 1rem;
    border-radius: 5rem;

    overflow: hidden;

    input {
        display: none;
    }
    
    label {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    input:checked:nth-of-type(1) + label{
        background-color: #BDFD9F;
    }

    input:checked:nth-of-type(2) + label{
        background-color: #FDF99F;
    }

    input:checked:nth-of-type(3) + label{
        background-color: #9FD0FD;
    }
}