.header {
    margin: 7.5rem 0;
}

.header > ul {
    display: grid;
    gap: 13rem;
    grid-template-columns: repeat(4, 1fr);
    list-style-type: none;
    padding: 0;
}

.header > ul > li:last-child {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.header > ul > li:nth-child(3) {
    display: flex;
    flex-direction: column;
}

.header > ul + li {
    width: 5rem;
}


