:root {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    margin: 0;
    padding: 0;
    background-color: #FCFAF8;
}

main {
    max-width: 144rem;
    margin: 0 13.5rem;
    font-family: 'Inter';
    font-style: normal;
}

@media screen and (max-width: 1050px) {
    main {
        margin: 0 6rem;
    }
}


@media screen and (max-width: 550px) {
    main {
        margin: 0 2rem;
    }
}