@import url('https://fonts.googleapis.com/css2?family=Inter:wght@311&display=swap');

:root {
    font-size: 62.5%;
}

body {
    font-family: 'Inter';
    font-size: 1.6rem;
    background-color: #FCFAF8;
}

main {
    display: flex;
    max-width: 500rem;
    justify-content: center;
    padding: 0 75px;
}